

   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-size:12px; font-weight:700;color:black;">Home</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="#"><a href="tel:+91 700 465 1850" hreflang="x-default"><i class="fa fa-phone"></i>+91 700 465 1850 <span class="sr-only">(current)</span></a></li>
            <li><a href="mailto:info@gstsuvidhaonline.com" hreflang="x-default"><i class="fa fa-envelope-o"></i> info@gstsuvidhaonline.com</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             
              <li><a class="faicon-facebook" href="https://www.facebook.com/GSTSuvidha/" target="_blank" hreflang="x-default"><i class="fa fa-facebook"></i></a></li>
              <li><a class="faicon-twitter"  href="https://twitter.com/GSTSuvidha" target="_blank" hreflang="x-default"><i class="fa fa-twitter"></i></a></li>
              <li><a class="faicon-linkedin"  href="https://www.linkedin.com/company/gst-suvidha-online?trk=biz-companies-cym" target="_blank" hreflang="x-default"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="faicon-instagram"  href="https://www.instagram.com/gstsuvidha/" target="_blank" hreflang="x-default"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
       
    </div>
    </div>
    <div class="container navlogo-pd">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed navbar-brand navbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/"><img src="./assets/logo.png" alt="logo" width="87" height="41" /></a>
      </div>

       <!---for new user start-->
       <div class="row" *ngIf="!userExist">
      <div id="navbar" class="collapse navbar-collapse .navbar-fixed-width">
      
       
            <ul class="nav navbar-nav navbar-right">
  <li><a class="btn btn-link" (click)="register()"  style="text-decoration: none; color: black;">
    <span class='glyphicon glyphicon-log-in'></span> SIGN Up
</a>
      
</li>

<li> <a class="btn btn-link" (click)=" login()"  style="text-decoration: none; color: black;">
    <span class='glyphicon glyphicon-log-in'></span> Log IN

</a></li>
</ul>
</div>

</div><!---for new user end-->

<!--for existing user start-->
<div *ngIf="userExist">
<div  id="navbar" class="navbar-collapse collapse in"  [ngClass]="{ 'in': toggleLogin }">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" (click)="onToggleLogin()">
           
          <a class="btn btn-link" aria-haspopup="true" aria-expanded="false">
                  
                 Hello {{userProfile.name}}  
                <span class="caret"></span>
            </a>
           </li> 
           
           <li>
                <a class="btn btn-link" (click)="logOut()"  style="text-decoration: none; color: black;">
                    <span class='glyphicon glyphicon-log-out'></span> Log Out
                </a>
            </li>
            </ul>




        </div>
    </div>
    <!--for existing user end-->


            <!-- <ul class="dropdown-menu" [ngClass]="{'toggleLoginStyle':toggleLogin===true}">
               
                <li role="separator" class="divider"></li>
                <li>
                    <a class="btn btn-link" (click)="logOut()"  style="text-decoration: none; color: black;">
                        <span class='glyphicon glyphicon-log-out'></span> Log Out
                    </a>
                </li>
            </ul>
        </li>
    </ul> -->




      <!--/.nav-collapse -->
  </div>

  </nav>



  <section id="SignUp-modal">
    <div class="modal fade" id="signupmd">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&otimes;</button>
                    <h5 class="modal-title">Where do you want to Sign-Up?</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <p>GST RELATED SERVICES</p>
                                <a class="btn btn-primary center-block" data-toggle="modal" href="/Account/Register">Sign Up</a>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p>CERTIFICATION COURSES</p>
                                <a class="btn btn-success center-block" data-toggle="modal"  href="/Account/StudentRegister">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

