
      <app-navigationtop></app-navigationtop>

     <div class="container container-fluid">
<div class="wrapper">

 
    <div class="block" id="stu-ptl" style="margin-left:-110px;margin-right: -110px;">
      <h1>"Looking for a Career in GST ??? Don't Miss this opportunity"</h1>
  </div>

 

<section id="freetrail">
    <div class="container-fluid">
        <div class="contianer">
            


<div class="container">
<form action="/Home/Leads" method="post">        <div id="newsletter" class="row">
        <div class="container">
            <div class="col-md-2 col-xs-12 col-sm-12 txtdiv-pad">
                <input class="form-control txtbx text-box single-line" data-val="true" data-val-required="The Name field is required." id="Name" name="Name" placeholder="Name" required="required" type="text" value="" />
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12 txtdiv-pad">
                <input class="form-control txtbx text-box single-line" data-val="true" data-val-required="The Contact Number field is required." id="ContactNumber" name="ContactNumber" placeholder="Contact Number" required="required" type="text" value="" />
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12 txtdiv-pad">
                <input class="form-control txtbx" data-val="true" data-val-required="The Email-ID field is required." id="Email" name="Email" placeholder="Email-ID" required="required" type="text" value="" />
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12 dropdown">
                <select class="form-control drpdwnbx" data-val="true" data-val-required="The Purpose field is required." id="Purpose" name="Purpose" required="required"><option value="">-- Select Purpose --</option>
<option value="GSTRelatedServices">GST Related Services</option>
<option value="CertificationCourse">Certification Course</option>
</select>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 btdiv-pad">
                <input type="submit" value="Start Your Free Trial" class="btn free-trailbtn center-block" />
            </div>
        </div>
    </div>
</form></div>


        </div>
    </div>
</section>

</div>

<!--content start-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Student Zone</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <h2 class="hdrtoptxt">Student Portal</h2>
                <h3 class="hdrtoptxt1"><i>Be the Golden Face in Crowd</i></h3>
                <p class="subhdrtxt">GST the New Tax regime is having a major impact on Industry,The Fresher's have a great opportunity to make career in GST, don’t lag behind <b><i class="itext">BE The Golden Face in Crowd</i></b></p><br />
                <h5 class="hdrtxt2">GST Course Subscription</h5>
                <hr class="hrcol" />
                <div class="col-lg-12">
                    <ul class="ultxt">
                        <li>Study Material delivery through courier within 15 days</li>
                        <li>Query handling via Call, Face to Face & Mails</li>
                        <li>Video Lectures based on Study Material</li>
                        <li>Appear for Online Exam</li>
                        <li>Get Certified</li>
                    </ul>
                </div>
                <hr class="hrcol" />
            </div>

            <div class="row pdsec1 hidden-xs">
                <div class="col-lg-3 amttxt">
                    Just for Rs.2000 &#43; GST <br /> <p class="ebooktxt">(Soft Copy of Book)</p>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-success btn-lg center-block btn-block" (click)="softcopy()">
                        <span>Start Now <br><small>Make Online Payment</small></span>
                    </a><br/>
                    
                </div>

            </div>
            <div class="row pdsec1 hidden-xs hidden-md hidden-sm">
                <div class="col-lg-3 amttxt">
                    Just for Rs.2400 &#43; GST <br /> <p class="ebooktxt">(Physical Delivery of Book)</p>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-success btn-lg center-block btn-block btntext " (click)="phycopy()">
                        <span>Start Now <br><small>Make Online Payment</small></span>
                    </a>
                </div>
            </div>
            <!--for mobile view-->
            <div class="container pdsec1 hidden-lg">
                <div class="row">
                    <div class="col-lg-12 amttxtxs">
                        Just for Rs.2000 &#43; GST <br /><p class="ebooktxtxs">(Soft Copy of Book)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-lg center-block btn-block btntext" (click)="softcopy()">
                            <span>Start Now <br><small>Make Online Payment</small></span>
                        </a><br />
                    </div>
                </div>
            </div>
            <div class="row pdsec1 hidden-lg">
                <div class="row">
                    <div class="col-lg-12 amttxtxs">
                        Just for Rs.2400 &#43; GST <br /> <p class="ebooktxtxs">(Physical Delivery of Book)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-lg center-block btn-block btntext" (click)="phycopy()">
                            <span>Start Now <br><small>Make Online Payment</small></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr>
                <h3 class="hdrtxt">GST Certification Course</h3>
                <p class="subhdrtxt">Course Contents</p>
                <hr class="hrcol" />
                <div class="col-lg-12">
                    <ul class="ultxt">
                        <li class="liblt">
                            GST- An Introduction
                        </li>
                        <li class="liblt">
                            Taxable event - Supply and its scope
                            <ul>
                                <li>Illustrations on supply</li>
                            </ul>
                        </li>
                        <li class="liblt">
                            Registration in GST
                            <ul>
                                <li>Person liable for Registration</li>
                                <li>Compulsory Registration in Certain Cases</li>
                                <li>Voluntary Registration</li>
                                <li>Person not liable for Registration</li>
                                <li>Procedure of Registration</li>
                                <li>Time limit to apply for Registration</li>
                                <li>Illustrations on Registration</li>
                            </ul>
                        </li>
                        <li class="liblt">
                            GST Regulations for Normal Scheme
                            <ul>
                                <li>
                                    Tax Invoice
                                    <ul>
                                        <li>HSN/SAC</li>
                                        <li>CGST/SGST/IGST/UTGST</li>
                                        <li>Taxable value</li>
                                        <li>Place of supply</li>
                                        <li>Reverse charge mechanism</li>
                                        <li>Time limit for issue of tax invoice</li>
                                        <li>Credit note/debit note</li>
                                        <li>Receipt voucher</li>
                                        <li>Refund voucher</li>
                                        <li>Invoice in case of Reverse charge</li>
                                        <li>Payment voucher in case of reverse charge</li>
                                        <li>Illustrations on tax invoice and other topics</li>
                                    </ul>
                                </li>
                                <li>Input tax credit</li>
                                <li>Transitional Provisions</li>
                                <li>
                                    Time limit for payment of Tax
                                    <ul>
                                        <li>Time of supply in case of supply of goods</li>
                                        <li>Time of supply in case of supply of service</li>
                                    </ul>
                                </li>
                                <li>Returns</li>
                            </ul>
                        </li>
                        <li class="liblt">
                            GST Regulation for Composition Scheme
                            <ul>
                                <li>Who can opt for Composition Scheme</li>
                                <li>Who cannot opt for Composition Scheme</li>
                                <li>Restrictions under Composition</li>
                                <li>How to opt for Composition Scheme</li>
                                <li>Specified rates for Composition Scheme</li>
                                <li>RCM effect on Composition Scheme</li>
                                <li>Invoice by Composition dealer</li>
                                <li>Due Date for Payment of Tax</li>
                                <li>Filling return under Composition Scheme</li>
                                <li>Switching for composition to normal scheme and vice versa</li>
                                <li>Penal provision under Composition Scheme</li>
                                <li>Illustrations on Composition Scheme</li>
                            </ul>
                        </li>
                        <li class="liblt">
                            Normal Scheme VS Composition Scheme
                        </li>
                        <li class="liblt">
                            Place of Supply
                        </li>
                        <li class="liblt">
                            Reverse Charge mechanism
                        </li>
                        <li class="liblt">
                            Anti-profiteering Clause
                        </li>
                        <li class="liblt">
                            Accounts/Records and Audits
                        </li>
                        <li class="liblt">
                            Miscellaneous
                            <ul>
                                <li>Composite Supply</li>
                                <li>Mixed Supply</li>
                                <li>Input service distributors </li>
                                <li>Job work Procedure</li>
                                <li>Works contract</li>
                                <li>Tax deduction at source</li>
                                <li>Tax collection at source</li>
                                <li>E-commerce operator</li>
                                <li>E-way bill</li>
                            </ul>
                        </li>
                        <li class="liblt">
                            Practical GST forms
                        </li>
                        <li class="liblt">
                            Mock Test Papers
                        </li>
                    </ul>
                </div>
                <hr class="hrcol" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr>
                <h3 class="hdrtxt">Yearly Subscription</h3>
                <hr class="hrcol" />
                <div class="col-lg-12">
                    <ul class="ultxt">
                        <li>GST Updates</li>
                        <li>Recruitment & Internship Updates</li>
                        <li>Information for Seminars</li>
                    </ul>
                </div>
                <hr class="hrcol" />
            </div>
            <div class="row pdsec1">
                <div class="col-lg-3 amttxt">Just for Rs.1000 &#43; GST</div>
                <div class="col-lg-3 ">
                     <a class="btn btn-success btn-lg center-block btn-block btntext " (click)="yearcopy()">
                        <span>Start Now <br><small>Make Online Payment</small></span>
                    </a><br />
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <hr />
                    <div class="col-md-6 col-xs-12 col-sm-12"><img alt="GST Suvidha Certification Course Book Front" src="assets/gst-pampfnt.png" class="img-responsive center-block img-gstpamp" alt="" /></div>
                    <div class="col-md-6 col-xs-12 col-sm-12"><img alt="GST Suvidha Certification Course Book Back" src="assets/gst-pampback.png" class="img-responsive center-block img-gstpamp" alt="" /></div>
                </div>
            </div>
        </div> 
    </div>
</div>

<!--content end-->



     </div>
     <app-footer></app-footer>
     <br>
     <br>