<app-navigationtop></app-navigationtop>

<br>
<br>
<div class="container-fluid">
    <section id="stud-signup">
        <div class="container cnt">
            <!--header menu-->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/" style="text-decoration:none;font-weight: 700;color:#190f50;">
                                <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item active" style="font-weight: 700;color:#222121;">Certification Sign Up</li>
                    </ol>
                </div>
            </div>
            <!--header menu end-->


            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-6 hidden-xs">
                        <div id="msgregapp" class="container">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 msgimg">
                                    <img alt="GST Suvidha Cetification Icons" class="img-responsive" src="./assets/stud-signup.jpg" width="357" height="208"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 col-xs-12">
                                        <p>
                                            Enroll now for GST Certification course
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check-square-o"></i>
                                                <p>Get Course Material Online or via physical delivery</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i>
                                                <p>A Highly Qualified Team</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i>
                                                <p>Video Lectures</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i>
                                                <p>Online Examination</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i>
                                                <p>GST Certification</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--right side content pagepic box end-->
                    <!--form of left side start-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div id="register" class="container panel panel-register">
                            <div class="row">
                                <div class="col-md-12 sgnpd-client">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-12 wel-nt">
                                                <span>Welcome to GST Suvidha</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-10 col-lg-offset-1">
                                                    <h4 class="hdrtoptxtsign text-xs-center">Sign up with Email-ID</h4>
                                                    <hr class="hrcol"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <section id="loginForm">
                                                    <form [formGroup]="registerForm" (ngSubmit)="create()">

                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="name"  class="form-control text-box single-line ng-dirty ng-invalid" name="Name" placeholder="Name" type="text"  value=""/>
                                                           
                                                           <p-message severity="error" text="Name is required" *ngIf="!registerForm.controls['name'].valid&&registerForm.controls['name'].dirty"></p-message>
                                                            
                                                        </div>
                                                        
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="email" class="form-control text-box single-line ng-dirty ng-invalid" name="Email" placeholder="Email-ID" type="email"
                                                                value="" />
                                                                <p-message severity="error" text="Email is required" *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'].dirty"></p-message>
                                                        </div>
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="password" class="form-control text-box single-line password ng-dirty ng-invalid" name="Password" placeholder="Password"
                                                                type="password" value="" />
                                                                <p-message severity="error" text="Password is required" *ngIf="!registerForm.controls['password'].valid&&registerForm.controls['password'].dirty"></p-message>
                                                        </div>
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="confirmPassword" class="form-control text-box single-line password" id="ConfirmPassword" name="ConfirmPassword"
                                                                placeholder="Confirm Password" type="password" value="" />
                                                                <p-message severity="error" text="Confirm your password" *ngIf="!registerForm.controls['confirmPassword'].valid&&registerForm.controls['confirmPassword'].dirty"></p-message>  
                                                        </div>
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="qualification" class="form-control text-box single-line" id="Qualification" name="Qualification"
                                                                placeholder="Qualification" type="text" value="" />
                                                                <p-message severity="error" text="Qualificationis required" *ngIf="!registerForm.controls['qualification'].valid&&registerForm.controls['qualification'].dirty"></p-message>
                                                        </div>
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="contactNumber" class="form-control text-box single-line" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})"
                                                                name="ContactNumber" placeholder="Contact Number" type="tel"
                                                                value="" />
                                                                <p-message severity="error" text="Contact is required" *ngIf="!registerForm.controls['contactNumber'].valid&&registerForm.controls['contactNumber'].dirty"></p-message>
                                                        </div>
                                                        <div class="col-lg-12 txtlgin">
                                                            <input formControlName="address" class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required."
                                                                id="Address" name="Address" placeholder="Address" type="text"
                                                                value="" />
                                                                <p-message severity="error" text="Address is required" *ngIf="!registerForm.controls['address'].valid&&registerForm.controls['address'].dirty"></p-message>
                                                        </div>
                                                        <div class="col-lg-12 btnstleR">
                                                            <input type="submit" value="Sign Up" [disabled]="registerForm.invalid"class="btn btn-success btn-lg" style="border-radius:25px;"/>

                                                        </div>
                                                        <div class="form-group btnstleR">
                                                            <p class="areg sgnpd">Already Registered? &nbsp;&nbsp;
                                                                <a href="/login">Login</a>
                                                            </p>

                                                        </div>
                                                    </form>
                                                   

                                                </section>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--form of left side end-->







                </div>
            </div>
        </div>

    </section>
</div>
<app-footer></app-footer>
<br>
<br>