<app-navigationtop></app-navigationtop>

<br>
<br>
<div class="container-fluid">





  <div id="login" class="container cnt">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 loginpd">
        <div class="panel panel-login sgnpd">
          <div class="row">
            <div class="col-lg-12 wel-nt">
              Welcome to GST Suvidha
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <section id="socialLoginForm">



                <form action="/Account/ExternalLogin" method="post">
                  
               <!--   <div id="socialLoginList">
                    <p>
                      <button type="submit" class="btn btn-danger btn-lg center-block btn-width" id="Google" name="provider" value="Google" title="Log in using your Google account">Sign Up Via Google
                        <i class="fa fa-google"></i>
                      </button>
                    </p>
                  </div>-->
                </form>

              </section>
            </div>
            <!--<div class="col-lg-12">
              <p class="text-center ptext">
                <b>OR</b>
              </p>
            </div>-->
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-10 col-lg-offset-1">
                <h4 class="hdrtoptxtsign text-xs-center"><b>Login With Your Email-ID</b></h4>

                <hr class="hrcol" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <section id="loginForm">
                  <form>
                   
                    <div class="row">
                      <div class="col-lg-12 txtlgin">
                        <input class="form-control logintxtbx" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required."
                          id="Email" name="Email" placeholder="User-ID" type="text" #userName value="" />
                        
                      </div>
                      <div class="col-lg-12 txtlgin">
                        <input class="form-control logintxtbx" data-val="true" data-val-required="The Password field is required." id="Password"
                          name="Password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #pwd />
                        
                      </div>
                     <!-- <div class="col-lg-12">
                          <div class="pw"> 
                          <button (click)="pwd.type=pwd.type=='password'?'text':'password'"  class="btn btn-success btn-md">
                              <span toggle="#pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span> </button>
               Click to Show Password</div>

                         
                          <br>
                      </div>-->
                      <div class="col-lg-12">
                        <button type="button" (click)="doLogin(userName.value,pwd.value)"  class="btn btn-success btn-md center-block btn-width" style="width: 113px;border-radius: 9px;" >Log In</button>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
            <div class="col-lg-12">
              <p class="areg sgnpd">
                Don’t have an Account ?
                <a href="/register">Signup</a>
                <!--<a data-toggle="modal" data-target="#signupmd">Sign Up</a>-->

              </p>
             
            </div><!--sign up model start-->
            <section id="SignUp-modal">
              <div class="modal fade" id="signupmd">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&otimes;</button>
                      <h5 class="modal-title">Where do you want to Sign-Up?</h5>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6 col-xs-12">
                            <p>GST RELATED SERVICES</p>
                            <a class="btn btn-primary center-block" data-toggle="modal" href="/Account/Register">Sign Up</a>
                          </div>
                          <div class="col-md-6 col-xs-12">
                            <p>CERTIFICATION COURSES</p>
                            <a class="btn btn-success center-block" data-toggle="modal" href="/Account/StudentRegister">Sign Up</a>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section><!--sign up model end-->
           
          </div>
        </div>
      </div>
    </div>
  </div>









</div>

<app-footer></app-footer>
<br>
<br>