<footer class="footer">
    <div class="container-fluid">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="footer-p">GST Suvidha is trademark of InfoTax Suvidha Pvt. Ltd.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 footer-alink">
                            <a class="footer-a" data-toggle="modal" href="/Home/PrivacyPolicy">Privacy Policy</a>
                            <a data-toggle="modal" href="/Home/TermsConditions">Terms and Conditions</a>
                        </div>
                        <div class="col-md-3 image-iso-pad">
                            <img alt="GST Suvidha ISO Certified Company" src="./assets/iso.png" width="80" height="80" />
                        </div>
                        <div class="col-md-3 footer-timg">
                            <img alt="Startup India" src="./assets/startupindiatxt.png" />
                        </div>
                        <div class="col-md-2 footer-timg">
                            <img alt ="Microsoft Biz Spark"src="./assets/d1.jpg" style="width:248px;"/>
                        </div>
                    </div>
                </div>                   
            </div>                
        </div>
    </div>
</footer>
<div class="container">
    <div class="padding-index row"></div>
</div>